*{
    margin: 0;
    padding: 0;

}

.main5{
    width: 100%;
    background-color: #D4AE5A;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(Membership\ Options\ Photo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;   
}

.navbar{
    width: 100%; 
    height: 75px;
    display: flex; 
    align-items: center; 
}

.icon{
    width: 220px;
    float: left;
    height: 70px; 
}

.logo img{
    float: left;
    width: 210px;
    height: auto; 
    margin-left: 35px;
}

.menu{
    flex: 1; 
    display: flex; 
    justify-content: center; 
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 55px;
    margin-top: 40px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 600;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #D4AE5A;  
}

.join-button2, .login-button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 35px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: bold;
}

.join-button2 {
    background-color: darkgoldenrod; 
    margin-left: 30px;
    margin-right: 20px;
}

.login-button {
    background-color: #af000f; 
    margin-right: 50px;
}

.join-button2:hover {
    background-color: #D4AE5A;
}

.login-button:hover {
    background-color: #e21916;
}

.btn{
    width: 90px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #ffffff;
    margin-top: 0px;
    color: black;
    font-size: 15px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #D4AE5A;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-top: 25px;
    font-family: 'Lato';
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-top: 90px;
    margin-left: 150px;
}

.content h1{
    font-family: 'Lato';
    font-size: 90px;
    font-weight: bolder;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 40px;
    letter-spacing: 2px;
}

.content h2{
    font-family: 'Lato';
    font-size: 90px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 170px;
    letter-spacing: 2px;
}

.content .cn{
    width: 250px;
    height: 40px;
    background: #af000f;
    border: none;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 480px;
    margin-top: 90px;
}

.content .cn a{
    text-decoration: none;
    color: #ffffff;
    transition: .3s ease;
}

body {
    overflow-y: scroll; 
    height: 1500px;
    color: black;
    background-color: #000;
}

.subtittle h2{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 70px;
    margin-top: 200px;
    margin-left: 330px;
}

.paragraph p{
    font-family: 'Lato';
    font-weight: 100px;
    font-size: 50px;
    margin-top: 40px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 60px;
    text-align: center;
    color: black;
}

.active {
    color: #D4AE5A;
}

ul li a {
    color: white;
}

.tittle .par{
    font-family: 'Open Sans';
    font-size: 130px;
    font-weight: bold;
    color: #D4AE5A;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.tittle .style{
    font-family: 'Open Sans';
    font-size: 60px;
    font-weight: bold;
    color: #D4AE5A;
    margin-top: 250px;
    margin-bottom: 30px;
    text-align: center;
}

.container2 {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    width: 350px;
    text-align: left;
    display: inline-block;
    margin: 40px;
    margin-left: 65px;
    position: relative; 
}

.container2::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 40%, rgba(212, 174, 99, 0.6) 80%); 
    z-index: -1;
    border-radius: 10px;
}

.membership-details {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    position: relative; 
    z-index: 1; 
    color:#D4AE5A;
}
.sessions {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    margin-top: 30px;
}

.description {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

.price {
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: red;
    margin-bottom: 50px;
    position: relative; 
    z-index: 1; 
}

.button-container2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.join-button {
    background-color: #af000f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px; 
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.join-button:hover {
    background-color: #e21916;
}

.container2 {
    transition: transform 0.3s;
}

.container2:hover {
    transform: scale(1.25); 
}

.horizontal-rule {
    width: 100%;
    height: 10px;
    border: 0;
    border-top: 2px solid #D4AE5A;
    margin: 20px 0;
    margin-top: 100px;
}

.tittle .sub-title{
    font-family: 'Open Sans';
    font-size: 60px;
    font-weight: bold;
    color: #D4AE5A;
    margin-top: 1400px;
    margin-bottom: 30px;
    text-align: center;
}

.courses {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    width: 1100px;
    margin: 20px;
    margin-bottom: 80px;
    position: relative; 
}

.course::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 40%, rgba(212, 174, 90, 0.5) 80%); 
    z-index: -1;
    border-radius: 10px;
}

.course-description {
    flex: 2;
    text-align: left;
    padding: 0 20px;
}

.course-description h4 {
    font-size: 24px;
    font-weight: bold;
    color: #D4AE5A;
    margin-left: 100px;
    margin-bottom: 40px;
}

.course-description p {
    font-size: 16px;
    color: white;
    margin: 5px 0;
    margin-left: 100px;
}

.course-description .join-button {
    font-size: 18px;
    color: #fff;
    background-color: #af000f;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 250px;
}

.course-description .join-button1 {
    font-size: 18px;
    color: #fff;
    background-color: #af000f;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 200px;
}

.course-description .join-button:hover, .join-button1:hover {
    background-color: #e21916;
}

.cost {
    font-size: 50px;
    font-weight: bolder;
}

.cost span {
    font-weight: bolder;
}

.course-image {
    flex: 1;
    text-align: right;
    margin-right: 260px;
}

.course-image img {
    max-width: 400%;
    height: 350px;
    border-radius: 15px;
}

.course {
    transition: transform 0.3s;
    overflow: hidden;
}

.course:hover {
    transform: scale(1.20); 
}

/* ----------------------FOOTER----------------------- */

body {
    font-family: 'Lato';
}

.site-footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
}

.site-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.site-footer .section {
    width: 30%;
    padding: 20px;
    color: white;
}

.site-footer h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.site-footer p {
    font-size: 16px;
}

.clearfix {
    clear: both;
}

body {
    font-family: 'Lato';
}

.section {
    width: 30%;
    padding: 15px;
    box-sizing: border-box;
    float: left;
    margin-right: 3%;
}

.section h2 {
    margin-bottom: 15px;
    margin-left: 35px;
    color: #D4AE5A;
}

.section p {
    margin-bottom: 10px;
    margin-left: 40px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.site-footer img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.btn.btn-primary {
    background-color: #af000f;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 5px;
    height: 20px;
}

.btn.btn-primary:hover {
    background-color: #e21916;
}